body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b1b32;
    color: #0a0a23;
    font-size: 18px;
}

#header {
    text-align: center;
    background-color: #0a0a23;
    padding: 20px;
    color: white;
}

#header h1 {
    font-family: 'SaxMono', monospace;
}


#header img {
    height: 100px;
    width: auto;
}

#content {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #3b3b4f;
    border-radius: 8px;
    color: #d0d0d5;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.2em;
    font-weight: bold;
}

ul li {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #3b3b4f;
    border-radius: 5px;
    color: #d0d0d5;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

#footer {
    text-align: center;
    padding: 10px;
    background-color: #0a0a23;
    color: white;
}

#footer a {
    color: white;
    margin: 0 5px;
    font-size: 1.2em;
}

#content a {
    color: #d0d0d5;
}