body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b1b32;
    color: #0a0a23;
    font-size: 18px; /* Adjust this value to increase the overall font size */
}

#header {
    text-align: center;
    background-color: #0a0a23; /* freeCodeCamp uses a dark green color for header */
    padding: 20px;
    color: white;
}

#header h1 {
    font-family: 'SaxMono', monospace;
    /* other styles */
}

#content {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #3b3b4f;
    border-radius: 8px;
    color: #d0d0d5;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.2em; /* Increase the font size */
    font-weight: bold; /* Make the text bold */
}

ul li {
    margin-bottom: 20px; /* Increase the space between list items */
    padding: 10px; /* Add some padding */
    background-color: #3b3b4f; /* Add a background color */
    border-radius: 5px; /* Round the corners */
    color: #d0d0d5; /* Change the text color */
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

#footer {
    text-align: center;
    padding: 10px;
    background-color: #0a0a23; /* freeCodeCamp uses a dark green color for footer */
    color: white;
}

#footer a {
    color: white;
    margin: 0 5px;
    font-size: 1.2em;
}

#content a {
    color: #d0d0d5; /* This is the color of the rest of the content */
}